.input {
  width: 320px;
  padding: 6px 10px;
  margin: 20px auto;
  border: 1px solid #090;
  border-radius: 3px;
  box-sizing: border-box;
  font: inherit;
}

@media screen and (max-width: 576px) {
  .input {
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
    width: calc(100% - 90px);
    margin: 10px auto;
  }
}
