.auth {
  width: 400px;
  margin: 40px auto;
  border: 2px solid #00b;
  border-radius: 6px;
  text-align: center;
}

.auth__title {
  width: 200px;
  margin: auto;
  display: flex;
  align-items: flex-end;
}

.auth__form {
  display: flexbox;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}


@media screen and (max-width: 576px) {
  .auth {
    width: 90%;
    margin: 40px auto;
    border-style: none;
    text-align: center;
  }
}
